langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-text-splitters==0.3.8
langchain-google-genai==2.1.7
python-dotenv==1.1.1
numexpr==2.11.0
wikipedia==1.4.0
faiss-cpu==1.11.0
youtube-transcript-api==1.1.1
pypdf==5.7.0
pytube==15.0.0
streamlit==1.46.1